#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#formContainer {
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

#result {
    margin-bottom: 20px;
}
